[submodule "admin"]
	path = admin
	url = git@github.com:dipware/admin.git
[submodule "client"]
	path = client
	url = git@github.com:dipware/client.git
[submodule "ethereum-smart-contract"]
	path = ethereum-smart-contract
	url = git@github.com:dipware/ethereum-smart-contract.git
